.img{display:inline-block;zoom:1;}
.i_31{background-image:url("../31.png");width:140px;height:140px}
.i_32{background-image:url("../32.png");width:140px;height:140px}
.i_33{background-image:url("../33.png");width:140px;height:140px}
.i_34{background-image:url("../34.png");width:140px;height:140px}
