.img{display:inline-block;zoom:1;}
.i_1{background-image:url("../icon1.png");width:120px;height:120px}
.i_2{background-image:url("../icon2.png");width:120px;height:120px}
.i_3{background-image:url("../icon3.png");width:120px;height:120px}
.i_4{background-image:url("../icon4.png");width:120px;height:120px}
.i_5{background-image:url("../icon5.png");width:120px;height:120px}