@charset "utf-8";
/*-----------------------------------------*****样式重置*****-------------------------------------------*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
body {
  color: #666;
  font-family: "微软雅黑", Arial, Helvetica, sans-serif;
  min-width: 1px;
  width: 100%;
}
a {
  text-decoration: none;
  color: #666;
  -webkit-transition: all 0.075s ease-in-out;
  -moz-transition: all 0.075s ease-in-out;
  -ms-transition: all 0.075s ease-in-out;
  -o-transition: all 0.075s ease-in-out;
  transition: all 0.075s ease-in-out;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
section {
  border: none;
  display: block;
}
a {
  border: none;
}
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}
b,
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
input,
select {
  border: none 0;
  outline: none;
}
input::-ms-clear {
  display: none;
}
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
input,
select,
button {
  font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
img {
  vertical-align: middle;
}
button,
li,
a {
  outline: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}
*:not(input,textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;
}
.img {
  display: inline-block;
  zoom: 1;
}
.i_16 {
  background-position: 0 -192px;
  width: 310px;
  height: 160px;
}
.i_3 {
  background-position: 0 -354px;
  width: 310px;
  height: 160px;
}
.i_23 {
  background-position: 0 0;
  width: 550px;
  height: 190px;
}
.i_add {
  background-position: -312px -192px;
  width: 46px;
  height: 46px;
}
.i_rhombus {
  background-position: -312px -240px;
  width: 24px;
  height: 24px;
}
/* ../img/quan.png?20180129151009 */
.i_16,
.i_3,
.i_23,
.i_add,
.i_rhombus {
  background-image: url(../img/quan.png?20180129151009);
}
.css_stamp {
  content: "20180129151009";
}
.img {
  display: inline-block;
  zoom: 1;
}
.i_reg_1 {
  background-position: 0 0;
  width: 305px;
  height: 299px;
}
.i_reg_2 {
  background-position: 0 -301px;
  width: 305px;
  height: 299px;
}
.i_reg_3 {
  background-position: -307px 0;
  width: 305px;
  height: 299px;
}
.i_reg_4 {
  background-position: -307px -301px;
  width: 305px;
  height: 299px;
}
.i_reg_5 {
  background-position: 0 -602px;
  width: 305px;
  height: 299px;
}
.i_reg_6 {
  background-position: -614px 0;
  width: 305px;
  height: 299px;
}
.i_reg_7 {
  background-position: -307px -602px;
  width: 305px;
  height: 299px;
}
.i_reg_8 {
  background-position: -614px -301px;
  width: 305px;
  height: 299px;
}
.i_reg_9 {
  background-position: -614px -602px;
  width: 305px;
  height: 299px;
}
/* ../img/reg.png?20180129151009 */
.i_reg_1,
.i_reg_2,
.i_reg_3,
.i_reg_4,
.i_reg_5,
.i_reg_6,
.i_reg_7,
.i_reg_8,
.i_reg_9 {
  background-image: url(../img/reg.png?20180129151009);
}
.css_stamp {
  content: "20180129151009";
}
.main {
  width: 750px;
  margin: 0 auto;
  background: #fcf3d6;
  padding-bottom: 100px;
}
.main .page-content {
  background: url(../img/11.png) top center no-repeat;
}
.main .page-content .title-rhombus {
  font-size: 36px;
  font-family: PingFangSC-Semibold;
  color: #fe593c;
  line-height: 50px;
  height: 50px;
  text-align: center;
}
.main .page-content .title-rhombus i {
  margin-left: 20px;
  margin-right: 20px;
}
.main .page-content .act-voucher {
  height: 1065px;
  width: 750px;
  padding-top: 456px;
}
.main .page-content .act-voucher .group1 .quans {
  padding: 42px 25px 16px 25px ;
}
.main .page-content .act-voucher .group1 .quans .i_add {
  margin: 42px 10px;
}
.main .page-content .act-voucher .group2 {
  height: 350px;
  text-align: center;
}
.main .page-content .act-voucher .group2 .t2 {
  background: url(../img/66.png) top center no-repeat;
  height: 120px;
  line-height: 88px;
}
.main .page-content .new-one {
  background: #f0e0c0;
  width: 750px;
}
.main .page-content .new-one .group {
  padding-top: 40px;
}
.main .page-content .new-one .group .title {
  width: 300px;
  height: 70px;
  background: #fe593c;
  border-radius: 4px ;
  margin: 0 auto;
  margin-bottom: 32px;
  font-size: 36px;
  font-family: PingFangSC-Medium;
  color: #ffffff;
  text-align: center;
  line-height: 70px;
}
.main .page-content .new-one .group .title-rhombus {
  margin-bottom: 23px;
}
.main .page-content .new-one .group .date {
  height: 63px;
  font-size: 24px;
  font-family: PingFangSC-Regular;
  color: #8d614f;
  text-align: center;
  padding-bottom: 22px;
}
.main .page-content .new-one .group .date span {
  color: #FB402F;
}
.main .page-content .new-one .group .list {
  padding-left: 50px;
  padding-right: 50px;
}
.main .page-content .new-one .group .list .item {
  width: 650px;
  height: 180px;
  margin-bottom: 30px;
  border-radius: 6px ;
  background: #FFFCF3;
  box-shadow: 0px 0px 15px 4px rgba(254, 89, 60, 0.2);
}
.main .page-content .new-one .group .list .item .header {
  height: 44px;
  width: 100%;
  padding-left: 38px;
  padding-right: 38px;
  font-size: 22px;
  font-family: PingFangSC-Regular;
  color: #8a5e4c;
  line-height: 44px;
}
.main .page-content .new-one .group .list .item .header label {
  float: right;
  color: #C7C6C5;
  height: 44px;
  line-height: 44px;
}
.main .page-content .new-one .group .list .item .header label span {
  color: #FE593C;
}
.main .page-content .new-one .group .list .item ul {
  width: 650px;
  height: 136px;
  padding-left: 20px;
}
.main .page-content .new-one .group .list .item ul li {
  float: left;
  width: 210px;
  height: 136px;
}
.main .page-content .new-one .group .list .item ul li .p1 {
  font-size: 72px;
  font-family: DINAlternate-Bold;
  color: #fe593c;
  line-height: 84px;
  height: 84px;
  text-align: center;
}
.main .page-content .new-one .group .list .item ul li .p1 span {
  font-size: 46px;
}
.main .page-content .new-one .group .list .item ul li .p2 {
  font-size: 22px;
  font-family: PingFangSC-Regular;
  color: #bfbfbf;
  line-height: 30px;
  text-align: center;
}
.main .page-content .new-one .group .list .item ul li .p3 {
  font-size: 24px;
  font-family: DINAlternate-Bold;
  color: #8a5e4c;
  line-height: 84px;
  height: 84px;
  text-align: center;
}
.main .page-content .new-one .group .list .item ul li .p3 span {
  font-size: 40px;
}
.main .page-content .new-one .group .rule {
  font-size: 24px;
  font-family: PingFangSC-Regular;
  color: #8d614f;
  line-height: 41px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
}
.main .page-content .new-one .group .regs {
  padding: 15px;
}
.main .page-content .new-one .group .regs i {
  margin: 25px;
}
.main .page-content .act-company {
  font-size: 24px;
  height: 180px;
  font-family: PingFangSC-Regular;
  color: #8d6150;
  line-height: 38px;
  text-align: center;
  padding-top: 61px;
}
.main .page-content .act-company a {
  color: #8d6150;
}
.main .bar-floor {
  font-size: 36px;
  font-family: PingFangSC-Regular;
  color: #ffffff;
  text-align: center;
  height: 100px;
  line-height: 100px;
  width: 750px;
  position: fixed;
  bottom: 0;
  background: #f75a15;
}
.load-img {
  width: 30px;
}
