.img{display:inline-block;zoom:1;}
.i_16{background-image:url("../33.png");width:310px;height:160px}
.i_3{background-image:url("../44.png");width:310px;height:160px}
.i_23{background-image:url("../77.png");width:550px;height:190px}
.i_add{background-image:url("../55.png");width:46px;height:46px}
.i_rhombus{background-image:url("../22.png");width:24px;height:24px}