.img{display:inline-block;zoom:1;}
.i_reg_1{background-image:url("../h1.png");width:305px;height:299px}
.i_reg_2{background-image:url("../h2.png");width:305px;height:299px}
.i_reg_3{background-image:url("../h3.png");width:305px;height:299px}
.i_reg_4{background-image:url("../h4.png");width:305px;height:299px}
.i_reg_5{background-image:url("../h5.png");width:305px;height:299px}
.i_reg_6{background-image:url("../h6.png");width:305px;height:299px}
.i_reg_7{background-image:url("../h7.png");width:305px;height:299px}
.i_reg_8{background-image:url("../h8.png");width:305px;height:299px}
.i_reg_9{background-image:url("../h9.png");width:305px;height:299px}