* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    border: 0;
    vertical-align: top;
}

a {
    text-decoration: none;
}

html {
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}
body{
    width: 750px;
    margin: 0 auto;
}
.dep-title{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 36px;
    color: #666;
    border-bottom: 1px solid #999;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: #fff;
}
.risk-main{
    margin-top: 100px;
    padding: 30px;
}
.risk-text__box01{
    height: 2460px;
}
.risk-text__box02{
    height: 882px;
}
.risk-text__box03{
    height: 3000px;
    margin-bottom: 300px;
}
p{
    font-size: 28px;
    color: #666;
    line-height: 48px;
    text-align: justify;
    padding-left: 44px;
}
.risk-text__title{
    font-size: 32px;
    color: #333;
    padding-left: 0;
}
.risk-pad{
    padding-left: 0;
}