.img{display:inline-block;zoom:1;}
.i_3{background-image:url("../reg-1.png");width:301px;height:327px}
.i_5{background-image:url("../reg-2.png");width:320px;height:335px}
.i_6{background-image:url("../reg-3.png");width:309px;height:344px}
.i_7{background-image:url("../reg-4.png");width:309px;height:344px}