.img{display:inline-block;zoom:1;}
.i_up{background-image:url("../2.png");width:26px;height:27px;}
.i_1{background-image:url("../5.png");width:27px;height:12px;}
.i_13{background-image:url("../13.png");width:96px;height:96px;}
.i_14{background-image:url("../14.png");width:96px;height:96px;}
.i_15{background-image:url("../15.png");width:96px;height:96px;}
.i_22{background-image:url("../22.png");width:120px;height:120px;}
.i_23{background-image:url("../23.png");width:120px;height:120px;}
