.img{display:inline-block;zoom:1;}
.t_1{background-image:url("../t1.png");width:529px;height:34px}
.t_2{background-image:url("../t2.png");width:456px;height:34px}
.t_3{background-image:url("../t3.png");width:456px;height:34px}
