* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
img {
    border: 0;
}
a {
    text-decoration: none;
}
html {
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}
.main {
    width: 750px;
    margin: 0 auto;
}
.safe-nav {
    display: block;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    height: 100px;
    border-bottom: 1px solid #DCDCDC;
}
.safe-nav li {
    font-size: 30px;
    color: #2B3940;
    line-height: 100px;
}
.safe-nav .change-color {
    color: #F66D6F;
    position: relative;
}
.change-color:after {
    content: "";
    width: 100px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    border-bottom: 4px solid #F66D6F;
}
.safe-box {
    text-align: center;
}
.safe-show {
    display: block;
}
.safe-hide {
    display: none;
}
.safe-box img {
    width: 154px;
    margin: 40px auto;
}
.text-box01{
    height: 370px;
}
.text-box02{
    height: 738px;
}
.safe-box__text p {
    font-size: 28px;
    width: 100%;
    padding: 0 68px;
    position: relative;
    line-height: 40px;
    color: #676F73;
    padding-left: 97px;
    text-align: justify;
}
.safe-box__text .safe-icon {
    margin-top: 30px;
    color: #363636;
    font-size: 36px;
    line-height: 56px;
}
.safe-icon:before {
    content: "";
    width: 14px;
    height: 14px;
    background: #676F73;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 68px;
}
.margin-bot {
    margin-bottom: 122px;
}
.dis-flex {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    padding: 0 38px;
    align-items: center;
}
.loan-be__title {
    font-size: 36px;
    color: #707476;
    line-height: 43px;
    font-weight: bold;
}
.loan-solid__be,
.loan-solid__af {
    display: inline-block;
    width: 230px;
    height: 2px;
    background: rgba(177, 185, 189, 1);
    position: relative;
}
.loan-solid__af::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 11px;
    height: 14px;
    border-radius: 50%;
    background: rgba(177, 185, 189, 1);
}
.loan-solid__be::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    width: 11px;
    height: 14px;
    border-radius: 50%;
    background: rgba(177, 185, 189, 1);
}
.loan-before__list {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 39px;
}

.loan-before__list li {
    width: 300px;
    height: 114px;
    font-size: 33px;
    color: #707476;
    line-height: 114px;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}
.img-bg01{
    background: url('../img/loan-bg01.png');
}
.img-bg02{
    background: url('../img/loan-bg02.png');
}
.img-bg03{
    background: url('../img/loan-bg03.png');
}
.img-bg04{
    background: url('../img/loan-bg04.png');
}
.img-bg05{
    background: url('../img/loan-bg05.png');
}
.img-bg06{
    background: url('../img/loan-bg06.png');
}
.loan-content,
.loan-after {
    margin-top: 50px;
}
.loan-after {
    margin-bottom: 193px;
}
.loan-content li {
    color: #707476;
    background: url('../img/bg01.png');
}
.loan-after li {
    color: #fff;
    background: url('../img/bg02.png');
}