.img{display:inline-block;zoom:1;}
.i_1{background-image:url("../1.png");width:42px;height:51px}
.i_2{background-image:url("../2.png");width:41px;height:51px}
.i_3{background-image:url("../3.png");width:42px;height:54px}
.i_4{background-image:url("../4.png");width:52px;height:52px}
.i_5{background-image:url("../5.png");width:57px;height:54px}
.i_6{background-image:url("../6.png");width:54px;height:54px}
.i_7{background-image:url("../7.png");width:61px;height:53px}
.i_8{background-image:url("../8.png");width:50px;height:50px}
.i_9{background-image:url("../9.png");width:66px;height:54px}
.i_10{background-image:url("../10.png");width:51px;height:53px}