.img{display:inline-block;zoom:1;}
.i_m1{background-image:url("../m1.png");width:160px;height:160px}
.i_m2{background-image:url("../m2.png");width:160px;height:160px}
.i_m3{background-image:url("../m3.png");width:160px;height:160px}
.i_m4{background-image:url("../m4.png");width:160px;height:160px}
.i_m5{background-image:url("../m5.png");width:160px;height:160px}
.i_m6{background-image:url("../m6.png");width:160px;height:160px}
.i_m7{background-image:url("../m7.png");width:160px;height:160px}
