.img{display:inline-block;zoom:1;}
.i_1{background-image:url("../3.png");width:57px;height:59px;}
.i_2{background-image:url("../4.png");width:65px;height:59px;}
.i_3{background-image:url("../6.png");width:47px;height:60px;}

