* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
img {
    border: 0;
}
a {
    text-decoration: none;
}
html {
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}
.main{
    width: 750px;
    padding: 0 20px;
    text-align: center;
}
.main img{
    margin-top: 40px;
}
.main p{
    font-size: 26px;
    color: #666;
    line-height: 40px;
    text-align: justify;
}
.about_text01{
    height: 160px;
}
.about_text02{
    height: 280px;
}
.main .version_text{
    text-align: center;
    font-size: 28px;
    color: #444;
    line-height: 46px;
    margin-bottom: 20px;
    margin-top: 10px;
}