* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    border: 0;
}
a {
    text-decoration: none;
}
html {
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}
body{
    background: #574947;
}
.main{
    width: 750px;
    text-align: center;
    padding-top: 14px;
    margin: 0 auto;
}
img{
    margin-top: 40px;
}
.head-ban img{
    margin-top: 27px;
}
.foot {
    margin-top: 64px;
    margin-bottom: 140px;
}
.foot p {
    font-size: 28px;
    font-family: PingFangSC-Light;
    color: rgba(225,225,225,.4);
    line-height: 54px;
    text-align: center; 
}
.tel a{
    text-decoration: none;
    font-size: 28px;
    font-family: PingFangSC-Light;
    color: rgba(225,225,225,.4);
    line-height: 54px;
    text-align: center; 
}
.invest-link{
  font-size: 36px;
  font-family: PingFangSC-Regular;
  color: #fff;
  text-align: center;
  height: 100px;
  line-height: 100px;
  width: 750px;
  position: fixed;
  bottom: 0;
  background: #F8BD21;
  z-index: 100;
}