* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    border: 0;
}
a {
    text-decoration: none;
}
html {
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}
.main{
    width: 750px;
}